* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    color: white;
    width: 1px;
}

/* Header */

.Header-Container {
    background-color: rgb(167, 230, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-Container > div {
    display: flex;
    background-color: rgb(228, 194, 0);
}

.Header-Logo {
    display: flex;
    align-items: center;
    text-align: left;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    padding-right: 150px;
}

.Header-Links {
    display: flex;
    align-items: center;
    text-align: center;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    padding-right: 150px;
    padding-left: 150px;
}

.Header-Login {
    display: flex;
    align-items: center;
    text-align: right;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    padding: 7px;
    padding-left: 150px;
}

/* Main */

.Main-Container1 {
    background-color: rgb(0, 0, 255);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item1 {
    background-color: rgb(241, 125, 241);
    width: 600px;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    aspect-ratio: 2/1;
}

/* Container 2 */

.Main-Container2 {
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item2-1 {
    display: flex;
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    flex-grow: 2;
    margin: 10%;
    margin-right: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}


.Main-Item2-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-left: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Container 3 */

.Main-Container3 {
    background-color: rgb(141, 141, 141);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item3-1 {
    display: flex;
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-right: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}


.Main-Item3-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 300px;
    flex-grow: 2;
    margin: 10%;
    margin-left: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Container 4 */

.Main-Container4 {
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item4-1 {
    display: flex;
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    flex-grow: 2;
    margin: 10%;
    margin-right: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}


.Main-Item4-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-left: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Container 5 */

.Main-Container5 {
    background-color: rgb(141, 141, 141);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item5 {
    display: flex;
    background-color: aquamarine;
    width: 750px;
    height: 500px;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Footer */

.Footer-Container1 {
    background-color: rgb(27, 27, 27);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-Item1 {
    display: flex;
    background-color: rgb(255, 124, 124);
    width: 310px;
    height: 300px;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    margin-left: 10%;
}

.Footer-Item2 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}

.Footer-Item3 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}

.Footer-Item4 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}


.Footer-Item5 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
    margin-right: 10%;
}

/* Final footer setup */

.Footer-Container2 {
    background-color: rgb(27, 27, 27);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.Footer-Items {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 40px;
}

.Footer-Logo {
    background-color: pink;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-style: dashed;
    border-color: solid rgb(0, 0, 0);
    border-width: 1px;
}

.Footer-Button {
    background-color: pink;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-style: dashed;
    border-color: solid rgb(0, 0, 0);
    border-width: 1px;
}